body {
    margin: 0;
    background-color: #1D1D1D;
    /*background-color: gainsboro;*/
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width {
    width: 93%;
    height: 150px;
    background-color: sandybrown;
}

.slider {
    width: 450px;
    margin-left: 100px;
}